/* Global Styles */
.heading, #events {
   font-family: 'Quicksand', sans-serif;
   font-size: 30px;
   font-weight: bold;
}

h3,
h4,
h5 {
   font-family: 'Quicksand', sans-serif;
   font-weight: bold;
}

label,
input,
a,
p {
   font-family: 'Quicksand', sans-serif;
}

.nav-link {
   font-weight: bold;
   color: #28538f;
}
.nav-item a {
   font-family: 'Quicksand', sans-serif;
}

#page-top {
   background-color: #ffffff;

}

.booknow h4 {
   font-family: 'Montez', cursive;
   font-size: 45px;
}

/* Section Styles */
section {
   background-color: rgb(236, 236, 236);
   border-radius: 5px;
   padding: 5px;
   width: auto;
   height: 99.5%;
   margin: 15px 25px 15px 25px;
}

/* Navbar Styles */

.navbar {
   max-width: 2000px;
   margin-left: 0px;
   background-color: rgb(255, 255, 255);
   min-width: 500px;

}

.navbar a {
   display: inline-flex;
   color: #000000;
}

.navbar a:hover {
   color: #28538f;
   border-bottom: #3671c37c solid 5px;
}

/* Search/Form Section Styles  */
#search-button {
   margin: 2rem;
   padding: 0.2rem;
   width: 7rem;
   height: 3rem;
   background-color: #3671C3;
   border: none;
   border-radius: 5px;
}



/* Hero Section Styles */
.hero {
   /* Flexbox stuff */
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url("/assets/images/hero-banner.svg");
   height: 220px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   object-fit: contain;
   background-color: #ffffff;
}

.hero h4 {
   font-family: 'Quicksand', sans-serif;

}

/* Form Styles */
form {
   margin-top: 2%;
}

input {
   background-color: rgb(255, 255, 255);
   border: none;
   border-radius: 5%;

}

/* Hotel Result Styles */
#search-results-hotel {
   display: flex;
   justify-content: center;
   justify-items: center;
   align-items: center;
   background-image: url(/assets/images/formBkg.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   object-fit: contain;
}

/* Carousel Styles */
#carousel {
   background-color: rgb(236, 236, 236);
   border-radius: 5px;
   padding: 20px;
   width: auto;
   height: 99.5%;
   margin: 15px 25px 25px 25px;
   /*centered the hotel results heading*/
   display: flex;
   justify-content: center;
}


#adults,
#rooms,
#children {
   display: inline-block
}

.card-header {
   font-family: 'Quicksand', sans-serif;

}

#logo {
   height: 5rem;
}

.booknow {
   animation-duration: 3s;
   animation-name: slidein;
   animation-iteration-count: 1;
   animation-direction: alternate;
}


@keyframes slidein {
   from {
      margin-left: 100%;
      width: 300%;
   }

   to {
      margin-left: 0%;
      width: 100%;
   }
}


.btn-primary {
   display: inline-block;
}

#tag-events {
   text-align: center;
   padding: 1rem;
   font-family: 'Montez', cursive;
}

.event-heading {
   display: flex;
   justify-content: center;
   margin: 0.5rem;
   text-align: left;
   font-size: 2rem;
}

.cards {

   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-auto-rows: auto;
   grid-gap: .5rem;

}

.card {
   border: 2px solid #e7e7e7;
   border-radius: 5px;
}

/* Footer Styles */
footer {
   background-color: rgb(181, 172, 172);
   border-radius: 5px;
   padding: 5px;
   width: auto;
   height: 150px;
   margin: 15px 25px 15px 25px;
   font-weight: bold;
}

#footer-links {
   display: flex;
   justify-content: space-evenly;
   list-style: none;
}


.events {

   display: grid;
   grid-template-columns: auto;
   grid-auto-rows: auto;
   grid-gap: .5rem;

}

.events-card {
   display: flex;
   justify-content: space-around;
   padding: 0.5rem;
   border: 10px solid #e7e7e7;
   border-radius: 5px;
   height: 20rem;
}

.hidden {
   visibility: hidden;
}

#more-events {
   height: 3rem;
   width: 7rem;
   font-family: 'Quicksand', sans-serif;
   background-color: #3671C3;


}

article {
   height: 60px;
   position: relative;

}

.center {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}
.hide-popup {
   visibility: hidden;
}
/*search button centered*/
.button-search {
   display: flex;
   justify-content: center;
}
/*input buttons*/
input {
   padding: 0.2rem;
   margin: 0.1rem;
   border: 2px solid rgb(232, 169, 52);
   border-radius: 0.4rem;
}
/* label input*/
label {
   margin: 0.1rem;
   padding: 0.2rem;
   font-weight: bold;
}
/* */
#search-results-hotel {
   width: 80rem;
   height: 20rem;
}
body {
   padding: 0.2em;
   margin: 0.3em;
}
#form-div {
   padding-top: 2rem;
}
.event-title {
   padding: 0.2rem; 
   color: rgb(60, 22, 210);
   font-weight: bold;
   font-size: 1.5rem;
   text-align: center;
}
.card-body {
   text-align: center;
   margin: 0.3em;
   padding: 0.2em;
   background-image:linear-gradient(rgb(233, 244, 249), rgb(189, 233, 249));
}
/*sorted the cards*/
.events-body{
   border-style: dotted;
   background-image:linear-gradient(rgb(224, 199, 220), rgb(201, 189, 247));
}
.footer-heading {
   position: relative;
   left: 1em;
   top: 0.2em;
}
/*added copy sign*/
#copy {
   position: relative;
   top: 3em;
   left: 36em;
}